.root {
    padding: 64px 80px;
    background-color: #121212;
    display: flex;
    justify-content: space-between;
    
    .main {
        max-width: 60%;
        color: #FFFFFF;

        p {
            color: #AFAFAF;
            font-size: 14px;
            line-height: 17px;
            margin-top: 24px;
            margin-bottom: 48px;
        }

         @media (max-width: 660px) {
            max-width: 100%;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    img {
        @media (max-width: 660px) {
            display: none;
        }
    }
}